<div class="wrapper">
  <section  class="sign-in-page">
    <div id="container-inside">
      <div id="circle-small"></div>
      <div id="circle-medium"></div>
      <div id="circle-large"></div>
      <div id="circle-xlarge"></div>
      <div id="circle-xxlarge"></div>
    </div>
    <div class="container p-0">
      <div class="row no-gutters">
        <div class="col-md-6 text-center pt-5">
          <div class="sign-in-detail text-white">
            <img src="../../../assets/images/logo-full.png" class="img-fluid" alt="logo">
            <div class="sign-slider overflow-hidden ">
              <ul class="swiper-wrapper list-inline m-0 p-0 ">
                <li class="swiper-slide">
                  <img src="../../../assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Find new friends</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable
                    content.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="margin-top: -20px" class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
          <div class="sign-in-from">
            <h1 class="mb-0">Sign Up</h1>
            <p>Create an account to access the site.</p>
            <form class="mt-2" [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="form-group">
                <input type="text" class="form-control mb-0" id="name" placeholder="FirstName" formControlName="firstName" >
                <span *ngIf="registerForm.get('firstName')?.errors?.['pattern']" style="color: red">Not be special characters . </span>
                <span *ngIf="registerForm.get('firstName')?.errors?.['required'] && registerForm.get('firstName')?.touched" style="color: red">Not be empty </span>
              </div>

              <div class="form-group">
                <input type="text" class="form-control mb-0" id="username" placeholder="LastName" formControlName="lastName">
                <span *ngIf="registerForm.get('lastName')?.errors?.['pattern']" style="color: red">Not be special characters . </span>
                <span *ngIf="registerForm.get('lastName')?.errors?.['required'] && registerForm.get('lastName')?.touched" style="color: red">Not be empty </span>
              </div>
              <div class="form-group">
              <input type="email" class="form-control mb-0" id="email" placeholder="Email" formControlName="email" >
              <span *ngIf="registerForm.get('email')?.errors?.['pattern']" style="color: red">Syntax erro Exam : abc@xxx.xxx</span>
              <span *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched" style="color: red">Not be empty </span>
            </div>
              <div class="form-group">
                <input type="password" class="form-control mb-0" id="password" placeholder="Password" formControlName="password" >
                <span *ngIf="registerForm.get('password')?.errors?.['minlength']" style="color: red">Must be more than 6 characters .</span>
                <span *ngIf="registerForm.get('password')?.errors?.['maxlength']" style="color: red">Must be not more than 32 characters .</span>
                <span *ngIf="registerForm.get('password')?.errors?.['pattern']" style="color: red">Not be special characters .</span>
                <span *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched" style="color: red">Not be empty </span>

              </div>
              <div class="form-group">
                <input type="password" class="form-control mb-0" id="confirmPassword"
                       placeholder="Password Confirm" formControlName="confirmPassword" >
                <span *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']" style="color: red">Must be more than 6 characters .</span>
                <span *ngIf="registerForm.get('confirmPassword')?.errors?.['maxlength']" style="color: red">Must be not more than 32 characters .</span>
                <span *ngIf="registerForm.get('confirmPassword')?.errors?.['pattern']" style="color: red">Not be special characters .</span>
                <span *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && registerForm.get('confirmPassword')?.touched" style="color: red">Not be empty </span>
              </div>
<!--              <div class="form-group">-->
<!--                <input type="text" class="form-control mb-0" id="phone" placeholder="Phone" formControlName="phone">-->
<!--                <span *ngIf="registerForm.get('phone')?.errors?.['required'] && registerForm.get('phone')?.touched" style="color: red">Not be empty </span>-->
<!--                <span *ngIf="registerForm.get('phone')?.errors?.['pattern']" style="color: red">Must be a 10-digit Number</span>-->

<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input type="date" class="form-control mb-0" id="date" placeholder="birthday" formControlName="birthday">-->
<!--                <span *ngIf="registerForm.get('birthday')?.errors?.['required'] && registerForm.get('birthday')?.touched" style="color: red">Not be empty </span>-->

<!--              </div>-->
              <div class="d-inline-block w-100">
                  <button type="submit"  [disabled]="!registerForm.valid" class="btn btn-primary ">Sign Up</button>
              </div>
              <div class="sign-info">
                <span class="dark-color d-inline-block line-height-2">Already have an account? <span style="color: #4c8be7; cursor:pointer" routerLink="/" >Sign in</span></span>
                <ul class="iq-social-media">
                  <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                  <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                  <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                </ul>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Backend Bundle JavaScript -->

